{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'core/img/corazon.jpg' %}" rel="icon">
    <link href="{% static 'core/img/corazon.jpg' %}" rel="apple-touch-icon">
    <title>LifeCare-Login</title>
</head>
<body>
    <div class ="wrapper">
        <form action = "">
            <h1>Login</h1>
            <div class ="input-box">
                <input type="text" placeholder="Usuario"
                 required>
                 <i class='bx bxs-user'></i>
            </div>
            <div class ="input-box">
                <input type="password" 
                placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="recordar">
                <label><input type="checkbox">Recordar</label>
                <a href="#">Olvidé mi contraseña</a>
            </div>

            <button type = "submit" class="btn">Login</button>

            <div class="register-link">
                <p>No tengo una cuenta <a
                    href="#">Registrarse</a></p>
            </div>
        </form>

    </div>
</body>
</html>